body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  line-height: 50px;
  text-align: center;
  background-color: pink;
  margin: 0;
  padding: 0;
}

#paragraph {
  color: white;
  background-color: burlywood;
  letter-spacing: 5px;
  margin: 30px;
}

.heading {
  color: green;
  margin: 30px;
  text-decoration: underline;
  letter-spacing: 4px;
}
