body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  line-height: 50px;
  text-align: center;
  background-color: pink;
  margin: 0;
  padding: 0;
}

.paragraph {
  color: white;
  background-color: burlywood;
  letter-spacing: 5px;
  margin: 30px;
}

.heading {
  color: green;
  margin: 30px;
  text-decoration: underline;
  letter-spacing: 4px;
}

p::before {
  content: "** ";
}

p::after {
  content: " **";
  color: black;
}
p::selection {
  background-color: blue;
  color: red;
}
/* p::first-line {
  color: blueviolet;
} */
h1::first-letter {
  color: black;
}

button {
  font-size: larger;
}

button:hover {
  background-color: yellow;
  color: blue;
  cursor: pointer;
}

button:active {
  background-color: red;
  color: white;
}

p:nth-of-type(2n) {
  color: white;
  background-color: red; /* Add a red background to see if it matches */
}
